<?xml version="1.0"?>

<PropertyList>
<!--
  <input>
    <keyboard>
      <key n="62">
        <name>greater-than</name>
        <desc>Precision Approach Radar</desc>
        <binding>
        <command>nasal</command>
        <script><![CDATA[par.instrument();]]></script> 
        </binding>
      </key>
    </keyboard>
  </input>
-->
  <gca>
   <config-version type="double">0.1</config-version>
   <tick type="double">1</tick>
   <near type="bool">0</near>
   <controlled type="bool">0</controlled>
   <par type="bool">0</par>
  <prev-msg-type type="string"></prev-msg-type>
  <prev-apt-name type="string"></prev-apt-name>
  <prev-phrase type="string"></prev-phrase>
  <logic>
	<!-- Relative Position: -->  
<!--  The order of the conditions does matter!! -->
    <condition><!-- 0. entering left base -->
      <equals>
        <property>/gca/near</property>
        <value>0</value>
      </equals>
      <equals>
        <property>/gca/controlled</property>
        <value>1</value>
      </equals>
      <less-than>
        <property>/gca/gate-delta</property>
        <value>0</value>
      </less-than>
      <less-than>
        <property>/gca/dist-to-app-crse</property>
        <value>1.5</value>
      </less-than>
    </condition>
    <condition><!-- 1. entering right base -->
      <equals>
        <property>/gca/near</property>
        <value>0</value>
      </equals>
      <equals>
        <property>/gca/controlled</property>
        <value>1</value>
      </equals>
      <less-than>
        <property>/gca/dist-to-app-crse</property>
        <value>1.5</value>
      </less-than>
    </condition>

    <condition><!-- 2. oncourse -->
      <or>
      <greater-than>
        <property>/gca/rwy-delta</property>
        <value>176</value>
      </greater-than>
      <less-than>
        <property>/gca/rwy-delta</property>
        <value>-176</value>
      </less-than>
      <equals>
        <property>/gca/controlled</property>
        <value>1</value>
      </equals>
      </or>
      <less-than>
        <property>/gca/dist-to-app-crse</property>
        <value>0.08</value>
      </less-than>
    </condition>
    <condition><!-- 3.- slightly left side-->
      <equals>
        <property>/gca/controlled</property>
        <value>1</value>
      </equals>
      <less-than>
        <property>/gca/rwy-delta</property>
        <value>-173</value>
      </less-than>
      <less-than>
        <property>/gca/dist-to-app-crse</property>
        <value>0.25</value>
      </less-than>
    </condition>
    <condition><!-- 4.- well left side-->
      <equals>
        <property>/gca/controlled</property>
        <value>1</value>
      </equals>
      <less-than>
        <property>/gca/gate-delta</property>
        <value>0</value>
      </less-than>
      <less-than>
        <property>/gca/dist-to-app-crse</property>
        <value>1</value>
      </less-than>
    </condition>
    <condition><!-- 5.- left side-->
      <greater-than>
        <property>/gca/altitude-agl-ft</property>
        <value>20</value>
      </greater-than>
      <equals>
        <property>/gca/controlled</property>
        <value>1</value>
      </equals>
      <less-than>
        <property>/gca/gate-delta</property>
        <value>0</value>
      </less-than>
    </condition>
    <condition><!-- 6. left opposite hdng ok -->
      <equals>
        <property>/gca/controlled</property>
        <value>0</value>
      </equals>
      <equals>
        <property>/gca/heading-ok</property>
        <value>1</value>
      </equals>
      <greater-than>
        <property>/gca/gate-delta</property>
        <value>-90</value>
      </greater-than>
      <less-than>
        <property>/gca/gate-delta</property>
        <value>0</value>
      </less-than>
    </condition>
    <condition><!-- 7. left opposite side -->
      <equals>
        <property>/gca/controlled</property>
        <value>0</value>
      </equals>
      <greater-than>
        <property>/gca/gate-delta</property>
        <value>-90</value>
      </greater-than>
      <less-than>
        <property>/gca/gate-delta</property>
        <value>0</value>
      </less-than>
    </condition>
    <condition><!-- 8. right opposite hdng ok -->
      <equals>
        <property>/gca/controlled</property>
        <value>0</value>
      </equals>
      <equals>
        <property>/gca/heading-ok</property>
        <value>1</value>
      </equals>
      <greater-than>
        <property>/gca/gate-delta</property>
        <value>0</value>
      </greater-than>
      <less-than>
        <property>/gca/gate-delta</property>
        <value>90</value>
      </less-than>
    </condition>
    <condition><!-- 9. right opposite turn -->
      <equals>
        <property>/gca/controlled</property>
        <value>0</value>
      </equals>
      <greater-than>
        <property>/gca/gate-delta</property>
        <value>0</value>
      </greater-than>
      <less-than>
        <property>/gca/gate-delta</property>
        <value>90</value>
      </less-than>
    </condition>
    <condition><!-- 10. right side -->
      <greater-than>
        <property>/gca/altitude-agl-ft</property>
        <value>20</value>
      </greater-than>
      <greater-than>
        <property>/gca/dist-to-app-crse</property>
        <value>1</value>
      </greater-than>
    </condition>
    <condition><!-- 11. slightly right side -->
      <greater-than>
        <property>/gca/rwy-delta</property>
        <value>173</value>
      </greater-than>
      <less-than>
        <property>/gca/dist-to-app-crse</property>
        <value>0.25</value>
      </less-than>
    </condition>
    <condition><!-- 12. well right side -->
      <less-than>
        <property>/gca/dist-to-app-crse</property>
        <value>1</value>
      </less-than>
    </condition>
    <condition><!-- 13. unknown  -->
      <equals>
        <property>/gca/dist-to-app-crse</property>
        <property>/gca/dist-to-app-crse</property>
      </equals>
    </condition>
  </logic>
  </gca>	
</PropertyList>
